
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #B2D4E7;
    display: flex;
    align-items: center;
    padding: 0 20px; 
    height: 80px; 
}

.logo {
    max-height: 134px; 
    height: auto; 
    width: auto; 
    margin-left: 70px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.search-bar {
    flex-grow: 1;
    max-width: 400px;
    margin: 0 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 20px;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.social-icons svg {
    fill: #555; /* Cor do ícone */
    margin-left: 30px;
}

.navbar {
    background-color: #fff; /*#f0f8ff*/
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: #000;
}

/* Main Title Section */
.main-title {
    text-align: center;
    margin: 30px 0;
    background-color: #5A7D8C; 
    color: #fff; 
    padding: 20px;
    text-align: center;
}

/* Carousel Styles */
.carousel {
    position: relative;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-item {
    min-width: 25%; /* Ajuste para 4 itens por vez */
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
